@font-face {
    font-family: 'Golos';
    src: url('GolosText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: url('GolosText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: url('GolosText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos';
    src: url('GolosText-DemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
    font-family: 'Golos' !important;
    font-weight: 400;
    color: #1E1E1E;
    font-size: 15px;
    line-height: 148%;
}
a {text-decoration: none;}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.title {
    font-weight: 600;
    font-size: 29px;
    line-height: 116%;
    color: #003154;
}
.header {
    padding: 24px 0;
    border-bottom: 1px solid #EAEAEA;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    width: 50%;
}
.header__logo-text {
    margin-left: 24px;
    font-size: 11px;
    line-height: 158%;
    color: #8F9090;
}
.header__search-form {

}
.header__search-form input {
    display: none;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu-link{
    font-size: 14px;
    line-height: 158%;
    color: #003154;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
}
.header__menu-link:hover,
.header__menu-link:focus,
.header__menu-link:active   {
    color: #003154;
    border-bottom: 1px solid #003154;
}
.header__menu-link:visited {
    color: #003154;
}
.header__menu-link.link-lang {
    margin: 0 32px;
}
.header__menu-link img {
    margin-right: 6px;
}
.menu-burger {
    display: none;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.header__nav-link {
    display: inline-block;
    color: #404040;
    border-bottom: 1px solid transparent;
}
.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active   {
    color: #404040;
    border-bottom: 1px solid #404040;
}
.header__nav-link:visited {
    color: #404040;
}
.header__nav-link img {
    transform: rotate(90deg);
}
.intro {
    padding: 80px 0;
    position: relative;
}
.intro-wrapper {
}
.intro .intro__item:first-child {
    width: 41.6%;
}
.intro__img {
    width: 100%;
}
.intro__item.bg-blue {
    width: 50%;
    margin-left: auto;
    max-height: 440px;
}
.intro__item.bg-blue::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(270deg, #60C0C3 30%, #F7F7F8 30%, #F7F7F8 100%);
    width: 100%;
    z-index: -1;
}
.intro__title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 33px;
    line-height: 116%;
    color: #003154;
}
.intro__icon {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}
.intro__text {
    margin-top: 16px;
    font-size: 18px;
    line-height: 162%;
    color: #404040;
}
.intro__btn {
    display: inline-block;
    margin-top: 56px;
    padding: 12px 32px;
    border: 1px solid #003154;
    border-radius: 2px;
    color: #003154;
    background: transparent;
}
.intro__btn:hover,
.intro__btn:focus,
.intro__btn:active {
    color: #fff;
    border-color: transparent;
    background: #003154;
}
.intro__btn:visited {
    color: #003154;
}
.nav {
    padding: 80px 0;
}
.nav .wrapper {
    flex-wrap: nowrap;
}
.nav__header {
    margin-bottom: auto;
}
.nav__header-link {
    display: inline-block;
    margin-top: 24px;
    border-bottom: 1px solid transparent;
}
.nav__header-link:hover,
.nav__header-link:focus,
.nav__header-link:active {
    border-bottom: 1px solid #1E1E1E;
}
.nav__header-link:visited {
    color: #1E1E1E;
}
.nav__list-wrapper {
    width: auto;
    margin-left: 121px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}
.nav__list {
    border-left: 1px solid #E1E1E1;
    padding-left: 16px;
}
.nav__list:last-child {
    align-self: start;}
.nav__list-link {
    display: inline-block;
    font-size: 17px;
    line-height: 158%;
    border-bottom: 1px solid transparent;
}
.nav__list-link:hover,
.nav__list-link:focus,
.nav__list-link:active {
    border-bottom: 1px solid #1E1E1E;
}
.nav__list-link:not(:last-child) {
    margin-bottom: 18px;}
.about {
    padding: 80px 0;
    background: #003154;
} 
.about * {
    color: #FFFFFF;
}
.about__text {
    width: 66%;
    margin: 0 auto;
    font-size: 23px;
    line-height: 130%;
    text-align: center;
}
.about__items-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 101px;
}
.about__item {
    font-size: 15px;
    line-height: 148%;
    position: relative;
    z-index: 100;
}
.about__item::before {
    position: absolute;
    z-index: -1;
}

.about__item:nth-child(1)::before {
    content: url(/img/icon-about-1.svg);
    top: -14px;
    left: -47px;
}
.about__item:nth-child(2)::before {
    content: url(/img/icon-about-2.svg);
    top: -8px;
    left: -37px;
}
.about__item:nth-child(3)::before {
    content: url(/img/icon-about-3.svg);
    top: -8px;
    left: -40px;
}
.about__item:nth-child(4)::before {
    content: url(/img/icon-about-4.svg);
    top: -1px;
    left: -48px;
}

.about__item span {
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
}
span.about__item-small {
    font-size: 20px;
}
span.about__item-small sup {
    font-size: 12px;
}
.about__item p {
    margin-top: 8px;
    text-align: center;
    white-space: nowrap;
}
.standart {
    background: #F2F6FB;
    position: relative;
    overflow: hidden;
}
.standart__item-img img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    height: 100%;
}
.standart__item {
    width: 50%;
}
.standart__details {
    padding: 104px 80px 104px 80px;
}
.standart__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.08em;
    color: #888888;
}
.standart__text {
    margin-top: 16px;
    font-size: 15px;
    line-height: 174%;
    color: #404040;
}
.standart__link {
    display: inline-block;
    margin-top: 32px;
    border-bottom: 1px solid transparent;
}
.standart__link:hover,
.standart__link:focus,
.standart__link:active {
    border-bottom: 1px solid #1E1E1E;
}
.catalog {
    padding: 64px 0;
}
.catalog__wrapper {
    justify-content: space-between;
}
.catalog__action {
    width: 25%;
    margin-top: auto;
    padding-bottom: 32px;
}
.catalog__list {
    width: 66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}
.catalog__subtitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #888888;
}
.catalog__title {
    margin-top: 8px;
}
.catalog__text {
    margin-top: 16px;
    line-height: 174%;
    color: #404040;
}
.catalog__product {
    background: linear-gradient(180deg, #fff 22%, #F2F6FB 22%, #F2F6FB 100%);
    border-radius: 2px;
    padding: 0px 32px 40px;
}
.catalog__product img {
    max-width: 100%;
}
.catalog__product-title {
    margin-top: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
}
.catalog__product-text {
    margin-top: 16px;
    color: #404040;
}
.catalog__product-link {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 32px;
    background: #003154;
    border-radius: 2px;
    color: #FFFFFF;
}
.catalog__product-link:hover,
.catalog__product-link:focus,
.catalog__product-link:active {
    background: #FFFFFF;
    color: #003154;
    box-shadow: inset 0 0 2px;
}

.news {
    padding: 64px 0;
}
.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__link {
    display: inline-block;
}
.news__link:hover,
.news__link:focus,
.news__link:active {
    border-bottom: 1px solid rgb(0, 49, 84);
}
.news__list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.news__item {
    height: 100%;
}
.news__item img {
    max-width: 100%;
    border-radius: 2px;
}
.news__item-info {
    margin-top: 22px;
}
.news__item-cat {
    font-size: 12px;
    line-height: 158%;
    color: #404040;
}
.news__item-date {
    margin-left: 15px;
    font-size: 12px;
    line-height: 158%;
    color: #8F9090;
}
.news__item-title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 152%;
    color: #000103;
}
.news__item-text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 158%;
    color: #888888;
}
.download {
    background: url(/img/img-bg-download.png) no-repeat;
    background-size: cover;
    padding: 160px 0 48px;
}
.download__content {
    width: 41.666%;
    padding: 40px;
    background: #F2F6FB;
    border-radius: 2px;
}
.download__text {
    margin-top: 16px;
    line-height: 174%;
    color: #404040;
}
.download__link {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 32px;
    background: #003154;
    border-radius: 2px;
    color: #FFFFFF;
}
.download__link:hover,
.download__link:focus,
.download__link:active {
    background: transparent;
    color: #003154;
    box-shadow: inset 0 0 2px;
}
.download__link:visited {
    color: #FFFFFF;
}
.brands {
    padding: 64px 0;
}
.brands__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 24px;
    margin-top: 40px;
}
.brands__item {
    padding: 0px 24px 0px 16px;
    border-left: 1px solid #E1E1E1;
}
.brands__item-link {
    display: block;
    filter: grayscale(20%);
}

.brands__item-link:hover {
    filter: none;
}
.brands__item-text {
    margin-top: 14px;
    font-size: 14px;
    color: #404040;
}
footer {
    padding: 72px 0;
    background: #003154;
}
footer * {
    color: #FFFFFF;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 200px) auto;
    column-gap: 162px;
    align-items: flex-start;
}
.footer__link {
    display: block;
    font-size: 14px;
    margin-bottom: 14px;
}
.link__title {
    display: block;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 152%;
}
.link__title-products {
    font-size: 21px;
    min-width: 200px;
}
.footer__link {
    color: #EAEAEA;
}
.footer__link:hover,
.footer__link:focus,
.footer__link:active {
    text-decoration: underline;
}
.wrapper__selection {
    width: 50%;
    border-top: 1px solid #174463;
    padding-top: 24px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 162px;
}
.footer__company {
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid #174463;
}
.footer__company-wrapper {
    display: flex;
    justify-content: space-between;
}
.company-item {
    width: 50%;
}
.copyright {
    margin-top: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    color: #EAEAEA;
}
.company-links {
    margin-top: 24px;
}
.company-link {
    margin-top: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    color: #EAEAEA;
    margin-right: 24px;
}
.company-link:hover,
.company-link:focus,
.company-link:active {
    text-decoration: underline;
}
.company__contacts {
    display: flex;
}
.company-tel a {
    margin-bottom: 1px;
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}
.company-tel span {
    font-size: 11px;
    color: #EAEAEA;    
}
.company-social {
    margin-left: 64px;
}
.company-social a {
    margin-right: 6px;
}
.company-adress {
    font-size: 12px;
    line-height: 158%;
    color: #EAEAEA;
    margin: 24px 0;
}
.company-about {
    font-size: 10px;
    color: #D0D0D0;
    margin-bottom: 8px;
}


@media (max-width: 1368px) {
    .container {
        max-width: calc(100% - 64px);
    }
    .footer__wrapper {
        grid-template-columns: repeat(2, auto);
    }
    .standart__item-img img {
        left: auto;
    }
}
@media (max-width: 1200px) {
    .intro__title {
        margin-top: 8px;
        font-size: 23px;
        line-height: 110%;
    }
    .wrapper__selection {
        grid-template-columns: repeat(2, auto);
    }
    .footer__company-wrapper {
        flex-wrap: wrap;
    }
    .company__contacts {
        margin-top: 24px;
    }
    .nav__list-wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 64px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: calc(100% - 48px);
    }
    .header__logo-text,
    .header__menu-link {
        display: none;
    }
    .nav__list {
        margin-top: 32px;
    }
    .nav__list-wrapper {
        margin-left: 0;
    }
    .nav__list-link {
        display: block;
        margin-bottom: 14px;
    }
    .nav .wrapper {flex-wrap: wrap;} 
    .about__text {
        width: 100%;
        padding: 0 16px;
        font-size: 18px;
        line-height: 162%;}
    .about__items-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 48px;
    }
    .about__item {
        width: 50%;
        text-align: center;
    }
    .about__item:not(:last-child) {
        margin-bottom: 34px;
    }
    .about__item:nth-child(1)::before {
        left: 50%;
    }
    .about__item:nth-child(2)::before {
        left: 25%;
        top: 0;
    }
    .about__item:nth-child(3)::before {
        left: 50%;
    }
    .about__item:nth-child(4)::before {
        left: 25%;
        top: 0;
    }
    .standart__item-img img {
        position: static;
        width: calc(100% + 40px);
        margin: 0 -20px;
    }
    .wrapper__selection {
        width: 100%;
    }
    .standart__item,
    .catalog__action,
    .catalog__list,
    .company-item  {
        width: 100%;
    }
    .brands__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-burger {
        display: inline-block;
        margin-left: 20px;
    }
    .menu-burger:hover,
    .menu-burger:focus,
    .menu-burger:active {border-bottom: 0;}
    .header__menu-link img {        margin: 0;}
}

@media (max-width: 768px) {
    .header__nav {
        overflow-x: scroll;
        scrollbar-width: none; 
        padding: 12px 0 16px 0;   
    }
    .header__nav::-webkit-scrollbar {
        width: 0; 
      }
    .header__nav-link {
        padding: 8px 12px;
        background: #F7F7F8;
        border-radius: 4px;
        white-space: nowrap;
    }
    .header__nav-link:not(:last-child) {
        margin-right: 10px;
    }
    .intro {
        padding-top: 0;
    }
    .intro__item {
        width: 100% !important;
    }
    .intro__item.bg-blue {
        order: -1;
        margin-bottom: 32px;
    }
    .intro__img {
        width: 90%;
    }
    .intro__item.bg-blue::before {
        background: linear-gradient(180deg, #60C0C3 25%, #F7F7F8 25%, #F7F7F8 100%);
    }
    .nav__header {
        width: 100%;
    }
    .download {
        background-size: auto 100%;
    }
    .download__content {
        width: 100%;
    }
    .brands__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav__list-wrapper {
        display: block;
        margin-top: 4px;
    }
    .footer__link:not(.link__title) {
        display: none;
    }
    .footer__wrapper {
        display: flex;
    }
    .footer__company {
        margin-top: 32px;
        padding-top: 24px;
    }
    .footer__company-wrapper {
        flex-wrap: wrap;
    }
    .footer__item {
        width: 100%;
    }
    .link__title {
        display: block;
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #174463;
        font-size: 17px;
        line-height: 152%;
    }
    .footer__wrapper,
    .wrapper__selection {
        grid-template-columns: repeat(2, 200px);
    }
}

@media (max-width: 575px) {
    .container {
        max-width: calc(100% - 32px);
    }
    .header__logo img {
        max-width: 129px;
    }
    .intro {
        padding: 0;
    }
    .intro__img {
        width: 100%;
    }
    .intro__item.bg-blue {
        margin-bottom: 0;
    }
    .intro-wrapper {
        padding: 24px 0;
    }
    .intro__icon {
        max-width: 24px;
    }
    .intro__text {
        margin-top: 8px;
        font-size: 15px;
        line-height: 148%;
    }
    .intro__btn {
        margin-top: 32px;
    }
    .nav,
    .about,
    .news,
    .brands,
    .standart__details {
        padding: 46px 0 52px;
    }
    .about__item {
        width: 100%;
    }
    .title {
        font-size: 27px;
        line-height: 116%;
    }
    .nav__header-link {
        margin-top: 14px;
    }
    .catalog__action {
        width: 100%;
        padding-bottom: 16px;
    }
    .catalog__list,
    .news__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .catalog {
        padding: 52px 0;
    }
    .catalog__product:not(:last-child) {
        margin-bottom: 40px;
    }
    .news__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .download__link,
    .catalog__product-link {
        display: block;
        width: 100%;
        text-align: center;
    }
    .brands .title,
    .wrapper__selection {
        display: none;
    }
    .brands__list {
        display: block;
        margin: 0;
    }
    .brands__item:not(:first-child) {
        display: none;
    }
    footer {
        padding: 32px 0;
    }
    .company-item {
        width: 100%;
        text-align: center;
    }
    .company__contacts {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 24px;
    }
    .company-links, .company-link {
        display: block;
        margin-top: 14px;
    }
    .company-social {
        margin: 0;
    }
    .company-social {
        margin-top: 20px;
    }
}